body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:-25px;
}

.git {
  position: relative;
  width: 120px;
  height: 30px;
  border-radius: 30px;
  margin-top: 10px;
  left: 38%;
  background-color: white;
  border: 1px #000000 solid;
  overflow: hidden;
}

.text1 {
  font-size: 17px;
  font-weight: 700;
  margin-left: 22%;
  color: black;
}

.text2 {
  position: absolute;
  top: 30%;
  left: -70px;
  font-weight: 680;
  font-size: 12px;
  color: white;
}

.text2::before{ 
  left: -100px;
  z-index: -1;
  content: '';
  width: 150px;
  height: 30px;

}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
}

.icon::before {
  position: absolute;
  left: -100px;
  top: 0;
  z-index: -1;
  content: '';
  width: 120px;
  height: 30px;
  border-radius: 30px;
    margin-top: 0;
  background-color: #000000;
}

.icon::after {
  position: absolute;
  left: 0.5px;
  top: 0.5px;
  z-index: -1;
  content: '';
  width:27px;
  height: 27px;
  border-radius: 100%;
  background-color: white;
}

.git:hover .icon {
  transform: translateX(90.5px);
  transition: transform 0.5s;
}

.git:hover .text2 {
  transform: translateX(85px);
  transition: transform 0.6s
}

.git :active {
  transform: scale(1.03);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}